@import "./mixins.scss";

.cocktail_page_wrapper{
    padding-top:7rem;
    @include flex(space-between, center, column);
    .sidebar_wrapper{
        @include flex(center, center,column);
        width:70%;
        color: $primary;
        h1{
            font-size: 2.5rem;
            margin: 1rem;
        }
        .filter_field{
            @include flex;
            width:70%;
            .search_wrapper{
                @include flex(left, left, column);
                font-size: 1.8rem;
                input{
                    border-radius: 10px;
                    padding: 0.4rem;
                }
            };
            .method_filter_container{
                @include flex(center, center, column);
                .method_filter_wrapper{
                    @include flex;
                    width:100%;
                    margin-top: 0.6rem;
                    .method_filter{
                        @include flex;
                        font-size: medium;
                        padding: 0.7rem;
                    }
                }
                
            }
        }
    };
    .cocktail_card_wrapper {
        @include flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 3rem;
      }
}