@import "./mixins.scss";

.card_field {
  width: 30%;
  min-height: 200px;
  max-height: 200px;
  display: flex;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: $primary;
  img {
    object-fit: cover;
    max-width: 50%;
    max-height: 100%;
    width: auto;
    margin: 0 auto;
  }
  .cocktail_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      padding: 1rem;
      font-size: 2.3rem;
      text-align: center;
    }
    .short_preview {
      font-size: 1.7rem;
      padding-bottom: 1rem;
      p {
        padding: 0.3rem;
      }
    }
    .button {
      text-align: center;
      font-size: 2rem;
      width: 100%;
      padding: 1rem;
      border: 0;
      outline: none;
      cursor: pointer;
      background-color: $secondary;
      color: $primary;
      &:hover {
        background-color: $primary;
        color: $acent;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card_field{
    width:40%;
  }
}
