@import "./mixins.scss";

.header_wrapper {
  @include flex;
  @include padding;
  // background-color: $secondary;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  nav {
    @include flex;
    width: 40%;
    font: {
      size: 1.5rem;
    }
    ul {
      width: 50%;
      @include flex();
      .marked_link {
        border: {
          color: $acent;
          width: 2px;
          style: solid;
          radius: 10px;
        }
        background-color: $acent;
      }
      li {
        align-items: center;
        color: $primary;
        position: relative;
        display: block;
        .link::before {
          content: "";
          display: block;
          height: 3px;
          background-color: #28bdd0;
          border-radius: 5px;
          position: absolute;
          bottom: -0.5em;
          left: 0;
          right: 0;
          transform: scale(0, 1);
          transition: transform ease-in-out 250ms;
        }
        .link:hover::before {
          transform: scale(1, 1);
        }
        .active {
          border: {
            style: solid;
            width: 2px;
            color:$acent;
            radius: 10px;
          };
          font-size: 1.7rem;
          &:hover{
            background-color: $acent;
            
          }
        }
      }
      .marked_link:hover {
        background-color: $secondary;
        color: $acent;
      }
    }
    .login {
      justify-content: center;
    }
  }
}
