@import "./mixins.scss";

.home {
  position: relative;
  bottom: 5rem;
  right:20rem;
  margin: 0 auto;
  color: $primary;
  @include flex(center, center, column);
  h1 {
    font-size: 3rem;
    @include padding;
  }
  p{
    font-size: 1.5rem;
  }
  .buttons{
    @include flex;
    margin: 1rem;
    @include padding;
    
  }
}
@media screen and (max-width:1244px){
.home{
  right:10rem;
}
}

@media screen and (max-width:992px){
  .home{
    right:0rem;
  } 
}

@media screen and (max-width:768px){
  .home{
    h1{
      font-size: 2.5rem;
    }
  }
}