$primary: #f5f5f4;
$secondary: #252b33;
$acent: #28bdd0;

@mixin flex($jc: space-between, $ai: center, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin padding($up: 1.5rem, $sides: 5rem) {
  padding: $up $sides;
}

@mixin link_padding($up: 0.5rem, $sides: 0.5rem) {
  padding: $up $sides;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #f5f5f4;
  @include link_padding;
}

ul,
ol {
  list-style-type: none;
}

.header_wrapper {
  @include flex;
  @include padding;
  background-color: $secondary;
  width: 100%;
  nav {
    @include flex;
    width: 40%;
    font: {
      size: 1.5rem;
    }
    ul {
      width: 50%;
      @include flex();
      .marked_link {
        border: {
          color: $acent;
          width: 2px;
          style: solid;
          radius: 10px;
        }
        background-color: $acent;
      }
      .marked_link:hover {
        background-color: $secondary;
        color: $acent;
      }
    }
    .login {
      justify-content: center;
    }
  }
}
main {
  @include flex(center, center);
}
.form_wrapper {
  width: 50%;
  margin: 5rem;
  color: $secondary;
  @include flex(center, center, column);
  @include padding;
  background-color: $primary;
  box-shadow: 5px 5px 5px $secondary;
  border-radius: 50px;
  border: {
    color: $secondary;
    width: 2px;
    style: solid;
  }
  .login_form {
    .input_wrapper {
      padding: 1rem;
      input {
        width: 100%;
        border-radius: 10px;
        padding: 0.5rem;
      }
      button {
      }
    }
  }
}

.display_field {
  @include flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 3rem;
  .card_field {
    width: 30%;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    text-align: center;
    img {
      object-fit: cover;
      max-width: 50%;
      max-height: 100%;
      width: auto;
      margin: 0 auto;
    }
    .cocktail_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        padding: 1rem;
        font-size: 2.5rem;
        text-align: center;
      }
      .short_preview {
        font-size: 1.7rem;
        padding-bottom: 1rem;
        p {
          padding: 0.3rem;
        }
      }
      .button {
        text-align: center;
        font-size: 2rem;
        width: 100%;
        padding: 1rem;
        border: 0;
        outline: none;
        cursor: pointer;
        background-color: $secondary;
        color: $primary;
        &:hover {
          background-color: $primary;
          color: $acent;
        }
      }
    }
  }
}
